<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .board {
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
        }

        table {
            box-sizing: border-box;
            width: 700px;
            height: 500px;
        }

        td, th {
            border: 1px solid black;
        }

        th {
            background-color: antiquewhite;
        }

        .btn {
        }
    </style>
</head>
<body>

<div class="board">
    <form action="/users/join" method="post" >
        email : <input type="text" name="email" id="email"><br>
        name : <input type="text" name="name" id="name"><br>
        password : <input type="password" name="password" id="password"><br>
        <input type="submit" value="회원 가입">
    </form>
</div>

<script>

</script>
</body>
</html>